.center {
  text-align: center;
  color: #fff !important;
}

.background {
  background-image: url("/image/nyancat.gif");
  background-size: contain;
  background-color: #555555;
  height: 100vh;
  width: 100vw;
}
